/* FONTS */
$sans-font: sans-serif;

/* COLORS */
$primary: #36828a;
$primary-tp1: rgba(54, 130, 138, 0.2);

$grey1: #333;
$grey2: #474747;
$grey3: #9faaaa;
$grey4: #cfcfcf;
$grey5: #eee;
$white: #fff;
$white-tp9: rgba(255,255,255,.9);