/* FONTS */
$sans-font: sans-serif;

/* COLORS */
$primary: #63529c;
$primary-tp1: rgba(138, 117, 209, 0.1803921568627451);

$grey1: #333;
$grey2: #474747;
$grey3: #7e7e7e;
$grey4: #cfcfcf;
$grey5: #eee;
$white: #fff;