@import "_variables.scss";

body {
  margin: 0;
  padding-top: 50px;
  font-family: $sans-font;
  * {
    margin: 0;
  }
  a:hover,
  btn:hover {
    cursor: pointer;
  }
}

input{
  box-sizing: border-box;
  float: left;
  height: 40px;
  width: calc(100% - 40px);
  margin-bottom: 20px;
  border: 2px solid rgba(54, 130, 138, 0.2);
  font-size: 14px;
  padding: 0 5px;
}
input:focus{
  border-color: $primary;
  outline: none;
}

button{
  margin-top: 30px;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  background: $primary;
  border: none;
  color: $white;
  font-size: 16px;
}
button:hover,
button:focus{
  cursor: pointer;
  background: $primaryh;
}

.error-box{
  clear: both;
  color: $error;
  border: 2px solid $error;
  background-color: $error-bg;
  font-weight: 600;
  padding: 12px;
  text-align: center;
}

.form-container{
  max-width: 460px;
  margin: 0 auto;
  background: $grey5;
  padding: 30px;
  box-sizing: border-box;
  div,input,button, select{
    width: 100%;
    box-sizing: border-box;
  }
  div{
    margin-bottom: 30px;
  }
  input,button,select{
    height: 40px;
  }
  label{
    display: block;
    margin-bottom: 10px;
  }
  button{    
    margin-top: 20px
  }
  .error-box{
    margin: 0;
    margin-top: 20px;
  }
}

.serif{
  font-family: $serif-font;
}

/*TRIP DETAIL*/

.main-container {
  width: 100%;
  min-height: calc(100vh - 130px);
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
}

.left-bar {
}
.right-container {
}
.left-bar,
.visit-search {
  display: block;
  float: left;
  width: 350px;
  background-color: $white;
  height: calc(100vh - 130px);
  overflow: auto;
  box-sizing: border-box;
  border-right: 1px solid $primary-tp1;
  .content {
    padding: 10px 20px;
    clear: both;
    h2 {
      font-family: $serif-font;
      text-align: center;
      padding: 20px 0 30px 0;
    }
    h3 {
      text-align: center;
      margin: 30px 0 20px 0;
      padding-top: 18px;
      border-top: 2px solid $grey5;
    }
    .map-dates{
      padding: 0px 9px 20px 9px;
      border-bottom: 2px solid $grey5;
      display: flex;
      justify-content: space-between;
      width: 100%;
      box-sizing: border-box;
      overflow: auto;
      button{
        width: 100%;
        border: none;
        background: $primary;
        color: $white;
        padding: 10px;
        font-size: 14px;
        margin: 0 1px;
        &:hover{
          cursor: pointer;
          background: $primaryh
        }
      }
    }
  }
}
.visit-search{
  .h2{
    border-bottom: 2px solid $grey5;
  }
}
.right-container,
.visit-timeline {
  box-sizing: border-box;
  min-height: calc(100vh - 130px);
  height: 100%;
  float: left;
  width: calc(100vw - 350px);
  background-color: #e8dbdb;
  overflow: auto;
  white-space: nowrap;
  background-filter: blur(2px);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-position: center;
  text-align: center;
}
.visit-timeline {
  padding: 10px;
}
.tab {
  width: 50%;
  text-align: center;
  padding: 14px 0;
  float: left;
  box-sizing: border-box;
  text-decoration: none;
  color: $primary;
  font-weight: 800;
  svg {
    margin-right: 10px;
  }
}
.tab.inactive {
  background: $grey3;
  color: $white;
  &:hover {
    background: $grey3h;
  }
}

.visit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $primary;
  margin: 20px 10px;
  padding: 0 14px;
  color: $white;
  min-height: 30px;
  line-height: 16px;
  cursor: move;
  cursor: grab;
  box-shadow: 0px 3px 10px 0px $primary-tp1;
  font-size: 14px;
  a {
    padding-left: 10px;
    border-left: 1px solid white;
  }
  span {
    padding-right: 10px;
  }
  .num{
    font-size: 20px;
  }
  .time{
    font-weight: 600;
    letter-spacing: 2px;
    padding-right: 5px;
  }
}
.visit.map-view{
  justify-content: flex-start;
  >div{
    display: flex;
    align-items: center;
  }
  .time{
    padding-left: 14px;
  }
}
agm-map {
  height: calc(100vh - 130px);
  width: 100%;
}
.si-frame.si-content-wrapper {
  padding: 10px;
}
.si-content-wrapper {
  height: 170px;
  overflow: auto;
  padding: 10px;
  width: fit-content !important;
  border: 1px solid $grey4;
  .si-content{
    height: 100%;
    max-width: 100% !important;
    img{
      float: left;
    }    
    div[_ngcontent-c3]{
      text-align: left;
      float: left;
      box-sizing: border-box;
      width: 170px;
      word-wrap: break-word;
      white-space: normal;
      h4{
        color: $primary;
        font-size: 16px;
        margin-bottom: 10px;
      }
      p{
        line-height: 20px;
      }
    }
  }
  .si-close-button{
    color: $error;
    font-weight: bold;
    opacity: 1;
    padding: 5px 10px;
  }
}

.info-window-content{
    padding: 12px 20px;
    float: left;
    box-sizing: border-box;
    p{
      word-break: normal;
    }
    .info-open{
      >*{
        display: inline-block;
      }
      svg{
        vertical-align: top;
        color: $grey3;
        margin-top: 3px;
        margin-right: 5px;
      }
    }
}