<div class="main-container">
  <h1>Your trips</h1>
  <div class="trip-card trip" *ngFor="let t of trips">
    <a [routerLink]="[t._id]">
      <div class="card-img">
        <img src="{{t.img}}" alt="">
      </div>
      <div class="card-data">
        <h3>
          {{t.city.name}}
        </h3>
        <p><i class="fa fa-calendar-alt"></i> {{t.dates[0] | date : "d MMM" }} - {{t.dates[t.dates.length -1] | date : "d MMM, y"}}</p>
      </div>
    </a>
  </div>
  <div class="trip-card new-trip">
      <a [routerLink]="['new']">
        <h1><i class="fa fa-plus-circle"></i></h1>
        <h3>
          New Trip!
        </h3>
      </a>
  </div>
</div>