@import "../../_variables.scss";

h1{
  margin: 40px 0;
}

.main-container {
  width: 100%;
  min-height: calc(100vh - 130px);
  box-sizing: border-box;
  padding: 30px;
}

.trip-card {
  width: 30%;
  height: 300px;
  vertical-align: top;
  display: inline-block;
  background: $grey5;
  .card-img {
    height: 200px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .card-data{
    padding: 20px;
  }
}

.trip-card:nth-child(odd){
  margin: 0 4.5%;
}