@import "../../_variables.scss";
.visit{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $primary;
  margin: 20px 10px;
  padding: 0 10px;
  color: $white;
  min-height: 30px;
  line-height: 30px;
  cursor: move;
  cursor: grab;
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.3);
  font-size: 14px;
}
