@import "../../_variables.scss";

.day-timeline{
  width: 100%;
  height: 100%;
  min-height:calc(100vh - 233px);
  border: 1px solid $primary-tp1;
  background: $primary-tp1;
  box-sizing: border-box;
  margin-top: 20px;
}