<div class="main-container">
  <div class="left-bar">
    <a [routerLink]="['/trips' , tripID]" class="tab inactive">
      <i class="fa fa-calendar-alt"></i> Timeline
    </a>
    <a [routerLink]="['/trips' , tripID, 'map']" class="tab">
      <i class="fa fa-map"></i> Map
    </a>
    <div class="content" *ngIf="plan">
        <h2>{{plan.city.name}}<small> - {{plan.dates[0] | date: "MMM yyyy" }}</small></h2>
      <div class="map-dates" >
         <button *ngFor="let d of plan.dates, let i = index" (click)="getDayRoute(i)">{{d | date: "EEE d"}}</button>
      </div>
      <div *ngIf="visits">
        <div *ngFor="let v of visits, let i = index" [id]="i" class="visit" [style.height]="getHeight(v.visit_id.duration)" [style.background]="getBackground(v.visit_id.duration)">
            <span>{{i +1}} </span><span>{{v.visit_id.title}} - {{v.visit_id.duration / 3600}}h</span>
        </div>
      </div>
    </div>
  </div>
  <div class="right-container" *ngIf="visits">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="15" (mapReady)="storeMapReady($event)" >
        <agm-marker *ngFor="let v of visits" [latitude]="v.visit_id.location.lat" [longitude]="v.visit_id.location.lng"></agm-marker>
      </agm-map>
  </div>
</div>