<div class="main-container">
  <div class="left-bar">
    <a [routerLink]="['/trips' , tripID]" class="tab inactive">
      <i class="fa fa-calendar-alt"></i> Timeline
    </a>
    <a [routerLink]="['/trips' , tripID, 'map']" class="tab">
      <i class="fa fa-map"></i> Map
    </a>
    <div class="content" *ngIf="plan">
        <h2>{{plan.city.name}}<small> - {{plan.dates[0] | date: "MMM yyyy" }}</small></h2>
      <div class="map-dates" >
         <button [id]="i" [style.background]="getBtnBackground(i)"  *ngFor="let d of plan.dates, let i = index" (click)="getDayRoute(i)">{{d | date: "EEE d"}}</button>
      </div>
      <div *ngIf="visits">
        <div *ngFor="let v of visits, let i = index" [id]="i" class="visit map-view" [style.height]="getHeight(v.visit_id.duration)" [style.background]="getBackground(v.visit_id.duration)">       
            <span class="num">{{i + 1}} </span>
            <i class="fa fa-caret-right"></i>
            <span class="time"> {{v.visit_id.duration / 3600}}h - </span>
            <span>{{v.visit_id.title}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="right-container" *ngIf="visits">


      <app-agm-map [visits]="visits" [plan]="plan"></app-agm-map>

    
  </div>
</div>