<div class="main-container">
  <div class="left-bar">
    <a [routerLink]="['/trips' , tripID]" class="tab inactive">
      <i class="fa fa-calendar-alt"></i> Timeline
    </a>
    <a [routerLink]="['/trips' , tripID, 'map']" class="tab">
      <i class="fa fa-map"></i> Map
    </a>
    <div class="content">
      <div *ngIf="visits">
        <div *ngFor="let v of visits, let i = index" [id]="i" class="visit" [style.height]="getHeight(v.visit_id.duration)" [style.background]="getBackground(v.visit_id.duration)">
            <span>{{v.visit_id.title}} - {{v.visit_id.duration / 3600}}h</span>
        </div>
      </div>
    </div>
  </div>
  <div class="right-container">
    <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
  </div>
</div>