@import "../../_variables.scss";

app-visit-list{
  display: block;
  min-height: 100px;
  border: 1px solid $primary-tp1;
  background: $primary-tp1;
}
app-visit-day {
  display: inline-block;
  vertical-align: top;
  min-width: 200px;
  min-height: calc(100vh - 170px);
  margin: 10px;
  background: $white-tp9;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.3);
}

input{
  border-right: none;
  margin-top: 30px;
}
.error-box{
  margin-bottom: 40px;
}
