@import "../../_variables.scss";


.main-container {
  width: 100%;
  min-height: calc(100vh - 130px);
  box-sizing: border-box;
  padding: 0;
  display: table;
  div{
    display: table-cell;
    padding: 10px;
  }
}

.visit-search{
  width: 300px;
  background-color: $grey5;
  height: 100%;
}