@import "../../_variables.scss";

.main-container {
  width: 100%;
  min-height: calc(100vh - 130px);
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
}

h2{
  text-align: center;
  padding: 20px 0 30px 0;
  border-bottom: 2px solid $grey5;
}
h3{
  text-align: center;
  margin: 30px 0 20px 0;
  padding-top: 18px;
  border-top: 2px solid $grey5;
}

.visit-search {
  display: block;
  float: left;
  padding: 10px 20px;
  width: 350px;
  background-color: $white;
  max-height: calc(100vh - 130px);
  overflow: auto;
  box-sizing: border-box;
  border-right: 1px solid $primary-tp1;
}

.visit-timeline {
  box-sizing: border-box;
  min-height: calc(100vh - 130px);
  height: 100%;
  float: left;
  padding: 10px;
  width: calc(100vw - 350px);
  background-color: #e8dbdb;
  overflow: auto;
  white-space: nowrap;
  background-filter: blur(2px);
  background-image: url(https://media-cdn.sygictraveldata.com/media/6126643….jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-position: center;
  text-align: center;
}
app-visit-list{
  display: block;
  min-height: 100px;
  border: 1px solid $primary-tp1;
  background: $primary-tp1;
}
app-visit-day {
  display: inline-block;
  vertical-align: top;
  min-width: 200px;
  min-height: calc(100vh - 170px);
  margin: 10px;
  background: $white-tp9;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.3);
}

input{
  box-sizing: border-box;
  float: left;
  height: 40px;
  margin-top: 30px;
  width: calc(100% - 40px);
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid $primary-tp1;
  font-size: 14px;
  padding: 0 5px;
}
input:focus{
  border-color: $primary;
  outline: none;
}
button.input-btn{
  margin-top: 30px;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  background: $primary;
  border: none;
  color: $white;
  font-size: 16px;
}
button.input-btn:hover{
  cursor: pointer;
}
.error-box{
  clear: both;
  color: $error;
  border: 2px solid $error;
  background-color: rgba(223, 21, 64, .07);
  font-weight: 600;
  padding: 12px;
  text-align: center;
  margin-bottom: 40px;
}