@import "../../_variables.scss";

.intro{
  width: 100%;
  min-height: calc(100vh - 130px);
  background-color: $grey4;
  //background-image: url("assets/img/map.jpg");
  background-position: 50% 50%;
  background-size: cover;
}