<div class="main-container">
  <div class="hero">
    <div class="title">
      <h1>
        <i class="fa fa-map-signs"></i> revella</h1>
      <h3>“Don’t call it a dream…call it a plan”</h3>
    </div>
    <div class="arrow">
      <i class="fa fa-chevron-down"></i>
    </div>
  </div>
  <div class="text">

    <h3 class="serif">
      Make the most out of your trip!
    </h3>
    <p>
      With <span class="serif">revella</span> you can plan all your visits beforehand, <br>
      while keeping in mind how much time they will take and where they are.
    </p>
    <h3>
      Do you have a trip in mind?
    </h3>
    <h3>
      Let <span class="serif">revella</span> help you!
    </h3>

    <a class="btn">Signup</a>
    <a class="link">Login</a>

  </div>
</div>