<div class="main-container">
  <div class="form-container">
    <h2>New Trip</h2>
    <form>
      <div>
        <label for="country">Country</label>
        <select type="text" [(ngModel)]="country" name="country" (change)="updateCities()">
          <option *ngFor="let c of countryList">{{c}}</option>
        </select>
      </div>
      <div *ngIf="cityList">
        <label for="country">City</label>
        <select type="text" [(ngModel)]="city" name="country">
          <option *ngFor="let c of cityList">{{c}}</option>
        </select>
      </div>
      <div>
        <label for="start">Start</label>
        <input type="date" [(ngModel)]="start" name="start" min="{{now}}" />
      </div>
      <div>
        <label for="end">End</label>
        <input type="date" [(ngModel)]="end" name="end" min="{{start}}" />
      </div>
      <button (click)="newTrip()"> Create Trip</button>
      <p class="error" *ngIf="error"> {{ error }} </p>
    </form>
  </div>
</div>